.all_messages {
    table {
        span {
            width: max-content;
            display: block;
        }
        select {
            width: auto;
        }
        select {
        }
    }
}
