.contact-us {
    position: relative;
    overflow: hidden;
    @media (max-width: 991px) {
        padding: 20px 0 !important;
    }
    .bg {
        opacity: 0.3;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .card-header {
        border-radius: 10px;
        margin-bottom: 20px;
        .head {
            @media (max-width: 991px) {
                justify-content: center;
                flex-direction: column;
            }
            h3 {
                margin: 0;
                @media (max-width: 991px) {
                    margin-top: 10px;
                }
            }
            .mdi {
                background-color: var(--primary);
                color: #fff;
                border-radius: 10px;
                margin-left: 10px;
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                font-size: 25px;
            }
        }
        span:not(.mdi) {
            padding-right: 45px;
            @media (max-width: 991px) {
                padding-right: 0;
                text-align: center;
                display: block;
            }
        }
    }
}
