footer {
    padding: 50px 0 0 0;
    background-color: var(--primary);
    box-shadow: 0px 0px 0px black;
    position: relative;
    overflow: hidden;
    ul {
        list-style-type: none;
    }
    p {
        color: #fff;
    }
    .links {
        li a {
            color: #fff;
            &:hover {
                color: $dark;
            }
        }
    }
    .social-links {
        li {
            &.facebook a {
                background-color: #1877f2;
            }
            &.instagram a {
                background-color: #e4405f;
            }
            &.youtube a {
                background-color: #cd201f;
            }
            &.twitter a {
                background-color: #00acee;
            }
            a {
                color: #fff;
                transition: all 0.3s linear;
                margin-left: 10px;
                width: 35px;
                height: 35px;
                line-height: 35px;
                &:hover {
                    opacity: 0.6;
                }

                span {
                    font-size: 25px;
                    text-align: center;
                    display: block;
                    width: auto;
                }
            }
        }
    }
}
