.frontend .home {
    @import "./inc/header";
    @import "./inc/future_informations";
    @import "./inc/services";
    @import "./inc/features";
    @import "./inc/projects";
    @import "./inc/testimonials";
    @import "./inc/contact-us";
}
.frontend .services_page {
    min-height: 500px;
    @import "./inc/services";
}

.frontend .projects_page {
    @import "./inc/projects";
}

.frontend .clients_page {
    padding: 20px 0;
    min-height: 500px;
    @import "./inc/testimonials";
}

.frontend .contact_us_page {
    @import "./inc/contact-us";
}
.frontend .send_message_page {
    h3 {
        @media (max-width: 991px) {
            font-size: 23px;
        }
    }
}
