.frontend .navbar {
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0px 10px #c8c8c8;
    &.fixed-top {
    }
    > .container {
        @media (min-width: 991px) {
            align-items: unset;
        }
        @media (max-width: 991px) {
            padding: 10px 15px;
        }
    }
    .navbar-brand {
        display: flex;
        align-items: center;
    }
    .navbar-brand img {
        width: 160px;
        height: 60px;
        @media (max-width: 991px) {
            width: 100px;
            height: 40px;
        }
    }
    .navbar-toggler {
        position: relative;
        height: 30px;
        width: 40px;
        span {
            transition: all 0.3s ease-in-out;
            left: 0;
            position: absolute;
            content: "";
            height: 5px;
            border-radius: 10px;
            width: 40px;
            background-color: var(--primary);
            &:first-of-type {
                top: 0px;
            }
            &:nth-of-type(2) {
                top: 10px;
            }
            &:last-of-type {
                top: 20px;
            }
        }
        &[aria-expanded="true"] {
            span {
                &:first-of-type {
                    transform: rotate(-45deg);
                    top: 10px;
                }
                &:nth-last-of-type(2) {
                    opacity: 0;
                    left: -15px;
                }
                &:last-of-type {
                    transform: rotate(45deg);
                    top: 10px;
                }
            }
        }
    }
    .navbar-collapse {
        @media (max-width: 991px) {
            transition: all 0.3s ease-in-out;
            position: absolute;
            right: -100%;
            background: #fff;
            box-shadow: 0 0px 20px #c8c8c8;
            top: 100%;
            width: 100%;
            z-index: 10;
        }
        &.show {
            right: 0;
        }
    }

    .navbar-nav {
        height: 100%;
        @media (max-width: 991px) {
            padding: 0px;
        }
        .nav-item {
            padding: 40px 5px;
            @media (max-width: 991px) {
                padding: 0px;
            }
            .nav-link {
                cursor: pointer;
                position: relative;
                transition: all 0.2s ease-in-out;
                font-weight: bold;
                letter-spacing: 1px;
                color: var(--dark);
                border-radius: 25px;
                padding: 10px 25px;
                &:hover,
                &.active_link {
                    background-color: var(--primary);
                    color: $white;
                    @media (max-width: 992px) {
                        border-radius: unset;
                        padding-right: 35px;
                    }
                    &:after {
                        width: 100%;
                    }
                    img {
                        opacity: 1 !important;
                        transform: translateX(-50%) rotate(0deg);
                    }
                }
                img {
                    transition: all 0.3s ease-in-out;
                    opacity: 0;
                    transform: translateX(-50%) rotate(180deg);
                    width: 35px;
                    height: 35px;
                    position: absolute;
                    bottom: 99%;
                    left: 50%;
                    @media (max-width: 991px) {
                        display: none;
                    }
                }
            }
        }
    }
}
